<div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div class="form-container mt-5" style="width: 550px;">
    <h4 class="text-center fw-bold fs-4">Welcome Back!</h4>
    <p class="text-center mt-0 mb-3">Login to your account</p>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" >
      <!-- Email input -->
      <div class="input-group mb-4">
        <span class="input-group-text" id="email-addon">
          <i class="bi bi-envelope"></i>
        </span>
        <input
          type="email"
          id="loginName"
          class="form-control"
          formControlName="email"
          placeholder="Enter your email address"
          aria-label="Email"
          aria-describedby="email-addon"
          required
        />
      </div>

      <!-- Password input with icon -->
      <div class="input-group mb-4">
        <span class="input-group-text" id="password-addon">
          <i class="bi bi-lock"></i>
        </span>
        <input
          type="password"
          id="loginPassword"
          class="form-control"
          formControlName="password"
          placeholder="Enter your password"
          aria-label="Password"
          aria-describedby="password-addon"
          required
        />
      </div>

      <!-- 2 column grid layout -->
      <div class="row mb-4 w-100 d-flex flex-row">
        <div class="d-flex align-items-center gap-2 w-50">
          <div class="form-check mb-3 mb-md-0">
            <input
              class="form-check-input"
              type="checkbox"
              id="loginCheck"
              formControlName="rememberMe"
            />
            <label class="form-check-label" for="loginCheck"> Remember me </label>
          </div>
        </div>

        <div class="w-50 d-flex justify-content-end">
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Sign in</button>
    </form>
  </div>
</div>
