/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
  }

  html , body {
      overflow-x: hidden;
      /* overflow-y: auto; */
      scroll-behavior: smooth;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
      scrollbar-width: auto;
      scrollbar-color: #afb2bf;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 3px;
    }

    *::-webkit-scrollbar-track {
      background: #000814;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #afb2bf;
      border-radius: 10px;
      visibility: hidden;
    }

    *:active::-webkit-scrollbar-thumb,
    *:focus::-webkit-scrollbar-thumb,
    *:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
